.contracts {
  .actions {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .filters {
      display: flex;
      gap: 20px;
    }
  }

  .table-wrapper {
    overflow-x: auto;
  }

  .empty {
    align-self: center;
  }
}
