.contract {
  .options {
    align-self: center;
    display: flex;
    gap: 20px;

    .edit {
      text-decoration: none;
      color: white;
      background-color: rgb(122, 129, 226);
      padding: 8px 12px;
    }

    .delete {
      background-color: rgb(229, 94, 94);
      color: white;
      padding: 8px 12px;
    }
  }

  .info {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .details {
      white-space: pre-wrap;
    }
  }

  .empty {
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
}
